body {
  /*if there was no content in there, height 100%*/
  margin: 0 0;
  display: grid;
  font-family: 'Lato', sans-serif;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px;
  width: 100%;
  background-image:url(../images/dinnerpartyMain2.jpg);
  align-items: stretch;
}
/* header {
  /* grid-column: 1; */
  /* grid-row-start:1;
  grid-row-end: 2; */
  /* grid-column-start: 1;
  grid-column-end:3; */
  /* display:flex;
  justify-content: space-between;
  align-items: center; */
/* } */

#logo{
  border-radius: 25%;
  height: 75px;
  width: 75px;
}
a{
  text-emphasis: emphasis;
  text-decoration: none;
}

main{
  grid-template-rows: 25% 75%;
  grid-row-start: 1;
  grid-row-end: 2;
}

#hero-section{
  background-image:url(../images/hero-image.jpg);
  border: black 5px;
  background-size: cover;
  grid-row-start: 1;
  grid-row-end: 2;

}
#hero-text{
  color:rgb(239, 238, 240);
  background-color: rgba(128, 128, 128, 0.652);
  font-family: 'Monofett', cursive;
  font-size: 85px;
  letter-spacing: 5px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;

}
article {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 50px 300px 1fr;
  text-align: center;
}

h2:hover {
  text-shadow: 2px 2px 5px yellow;
}
section{

}
h2{
  padding:20px 0;
}
#user-select-button{
  background-color:rgb(8, 148, 66);
  color: white;
}
#userselect{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#userImg{
  border-radius: 100px;
}
#cuisine-select-button{
  background-color:rgb(8, 34, 148);
  color: white;
  text-align: center;
  border-radius: 25%;
}
/* #userLocation{
  color: black;
  text-align: center;
} */
/* .userDiv{

}
.userDivimg{

} */

/******Recipe DOM elements******/

#videoZone{
  grid-row-start: 3;
  grid-row-end: 4;
  display:grid;
  grid-template-rows: 2;
  grid-template-columns: 4;
  text-align: center;
  /* height: 50%; */
}
.mealDiv{
/* margin-bottom: 10px; */
/* grid-row-start: auto;
grid-row-end:auto; */
/* align-items: center; */
}
.mealdivTitle{
  margin: 0 auto;
}
.mealDivimg{
  border-radius: 25%;
  border: navy 4px solid;
  margin-bottom: 10px;
}
.mealDivimg:hover{
  box-shadow: 10px 10px 5px rgb(16, 21, 65);
}
.mealButton{
background-color: navy;
color: whitesmoke;
border-radius: 25px;
margin-bottom: 25px;
margin: 25px auto;
}
a{
  color: white;
}
a:hover{
  text-shadow: 2px 2px 5px rgb(22, 22, 75);
}

/*****END Recipe DOM Elements****/

footer {
  /* grid-column: 1;
  grid-row:1; */
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}
/* searchresults.html page */

