html {
  width: 100%;
  /* if there was no content in here, would need h = 100%  */ */
}
body {
  /*if there was no content in there, height 100%*/
  margin: 0 0;
  display: grid;
  font-family:'Lora', serif;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr 40px;
}
header {
  grid-column-start: 1;
  grid-column-end:3;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
/* aside {
  background-color: orange;
} */
#logo{
  height: 100%;
  grid-column-start: 1;
  grid-column-end:2;
}
nav{
  grid-column-start: 2;
  grid-column-end:3;
}
a{
  text-emphasis: emphasis;
  text-decoration: none;
}
main{
  display:grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  /* background-color: yellow; */
  grid-column-start: 1;
  grid-column-end:3;
}
#hero-section{
  background-image:url(../images/hero-image2.jpg);
  /* background-position: top; */
  background-size: cover;
  display:flex;
  grid-column-start: 1;
  grid-column-end:3;
  justify-content: center;
}
#hero-text{
  color:#010322;
  margin: 100px auto;
  /* grid-column-start: 2;
  grid-column-end:3; */
}
article {
  background-color: green;
  grid-column-start: 1;
  grid-column-end:3;
  text-align: center;
}
#user-select-button{
  background-color:rgb(8, 148, 66);
  color: white;
}
#userImg{
  border-radius: 100px;
}
#cuisine-select-button{
  background-color:rgb(8, 148, 66);
  color: white;
}
/* #userLocation{
  color: black;
  text-align: center;
} */
#cuisine-button{

}
#videoZone{
  text-align: center;
  border-radius: 25px;
}
.mealDiv{

}
.mealDivimg{
  border-radius: 25%;
}
.userDiv{

}
.userDivimg{
  
}

footer {
  background-color: violet;
  grid-column-start: 1;
  grid-column-end:3;
  /* grid-row-start: 3;
  grid-row-end: 4; */
  text-align: center;
}
/* searchresults.html page */

